<!DOCTYPE html>
<html>
<head>
  <title>Tiffany Chiao</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,300,400' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="wrapper">
    <header><%= image_tag("header.png", class: "header-image") %></header>

    <div id="content">
      <div class="sidebar">
        <br/>     
        <div class="sidebar-link"><%= link_to "about", about_path %></div>
        <div class="sidebar-link"><%= link_to "projects", projects_path %></div>
        <div class="sidebar-link"><a href="https://docs.google.com/document/d/1XzVI7Se89I2_Yy0eyxrKQBWcGQazGZpYOI5yJ9-gOUQ/edit?usp=sharing" target="_blank">resume</a></div>
        <br/>
      </div>
    </div>

    <div id="page-content">
      <div><%= yield %></div>
    </div>

  </div>

  
</body>
</html>
